html{
    scroll-behavior: smooth;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    /* box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px; */
    background-color: rgba(100, 100, 111, 0.1);
}

.header__logo > img {
    height: 20px;
}

.header__navigation {
    width: 30%;
}

.nav__level1 {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin-bottom: 0;
}

.header__action {
    display: flex;
}

.header__action_left {
    display: flex;
}

.header__action_left > span {
    margin: 0 10px;
}

.header__action span {
    margin: 0 5px;
}

.header__action_right > i {
    margin: 0 5px;
}

.login > a > i {
    margin-right: 5px;
}

.item_level1 {
    padding: 10px;
}

.item_level1 > a {
    display: block;
    color: #000;
    font-weight: 500;
}

.item_level1:hover a {
    text-decoration: none;
    color: #ee4d2d;
    transition: 0.25s;
}

.carousel-inner > div {
    height: 400px;
    width: 100%;
    /* margin-top: 10px; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.carousel-inner > div > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.display__item {
    margin-top: 30px;
    padding: 0 40px;
}

.display__item__itemList {
}

.display__item__itemList__header__title {
    margin-right: 100px;
    font-size: 16px;
    color: #444444;
}

.type__sorting_block > select {
    border-radius: 10px;
    height: 35px;
}

.display__item__itemList__header {
    display: flex;
    padding: 20px 0;
    /* background-color: #ccc; */
}

.display__item__filter__title {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

/* .categories__nav{
    list-style: none;
    padding-left: 0;
} */

.categories__nav__item__level2 {
    margin: 10px 0;
}

.categories__nav__level1 {
    list-style: none;
    cursor: pointer;
}

.categories__nav__level2 {
    list-style: none;
    display: none;
}

.categories__nav__item__level1 {
    padding: 10px 0;
    font-weight: 500;
}

.categories__nav__item__level1:hover {
    color: #ee4d2d;
    transition: 0.25s;
}

.display__item__itemList__item_result {
    margin-top: 20px;
}

.item {
    width: 300px;
}

.item > img {
    width: 250px;
    align-items: center;
}

.card_item {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 25px;
    height: 320px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    position: relative;
}


/* .card_item :hover .btn_add-to-card {
    display: block;
} */

.item_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.item_img > img {
    width: 200px;
    margin-bottom: 10px;
}

.btn_add-to-card {
    width: 80%;
    text-align: center;
    height: 35px;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    visibility: hidden;
    position: absolute;
    bottom: -15px;
    transition: 0.3s all;
    cursor: pointer;
    opacity: 0;
}

.btn_add-to-card:hover{
    background-color: #BA933E;
}
.card_item:hover .btn_add-to-card {
    visibility: visible;
    bottom: -8px;
    opacity: 1;
    
}

.card_item_action {
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.card_item_action > a {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    opacity: 0;
    /* border: 1px solid #ccc; */
    margin-bottom: 3px;
    width: 30px;
    height: 30px;
}

.card_item_action > a > i {
    /* color: rgb(75, 72, 72); */
    /* text-align: center;
    height: 100%;
    width: 100%; */
}

.card_item_action > a:hover {
    background-color: #BA933E;
}

.card_icon {
    color: rgb(75, 72, 72);
    text-align: center;
    height: 100%;
    width: 100%;
}
.card_item_action > a:hover .card_icon {
    color: #fff;

}

.card_item:hover {
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
}

.card_item:hover .card_item_action > a {
    opacity: 1;
    transition: 0.3s;
}

.item_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.item_title {
    font-weight: bold;
    margin-bottom: 10px;
}

.item_price {
    font-weight: bold;
    color: #ee4d2d;
}

/* pagination */

.pagination_block{
    display: flex;
    justify-content: center;
}

.pagination >li{
    margin: 0 10px;
    width: 50px;
    
}


.pagination >li>a{
    display: block;
    text-align: center;
}

.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 30px 50px 0;
}

.footer_bot {
    border-top: 1px solid #333;
    align-items: center;
    padding: 20px 0;
}

.footer_ul {
    list-style: none;
    cursor: pointer;
}

.logo {
    margin-bottom: 10px;
}

<<<<<<< HEAD
/* Feature Product */

.rating::after{
    content: "\f005\f005\f005\f005\f005";
    position: absolute;
    /* background-color: #000; */
    font-family: FontAwesome;
    color: #ba933e;

}

.products_featured__title{
    margin-bottom: 38px;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 600;
}

.products_featured_item-info >.name{
    color: #1a1a1a;
    font-size: 16px;
}

.products_featured_item-info{
    padding: 10px 0 15px 0;
}

.products_featured_item-info >.price{
    margin: 10px 0;
    color: #666;
    font-size: 16px;
}

.products_featured_item{
    margin-bottom: 20px;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    border-radius: 5px;

}

.products_featured_item:hover{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.95;
    cursor: pointer;
    transition: 0.3s;
   

}

.products_featured_item_img{
    width: 100px;
    margin-right: 20px;

}

.products_featured_item_img >img{
    width: 100px;
}

.products_featured_nav{
    list-style: none;
    padding: 0;
}

.display__item__filter >hr{
    /* margin: px 0; */
    margin: 30px 0;
   
}

.btn__filter >button{
    border: none;
    width: 140px;
    height: 45px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    font-weight: 500;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn__filter >button>i{
    font-size: 25px;
    margin-left: 10px;
}

.btn__filter >button:hover{
    background-color: #ba933e;
    cursor: pointer;
    transition: 0.3s;
}


=======

/* breadcrumb */
.breadcrumb-contain{
    font-size: 16px;
 
}
.breadcrumb-contain a{
    color: #444;
}
.breadcrumb-contain .breadcrumb{
    background-color: #F5F5F5;
    margin: 0;
    padding-left: 60px;
}
/* /breadcrumb */
>>>>>>> 4e0bf533c7259329dc74017ebee755f7651ac113
