*{
    font-family: Red Hat Display, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
/* Image product*/
.product-detail .images-detail{
    display: flex;
}
/* Image product*/
.product-detail .images-detail ol li{
    list-style-type: none;
}

.product-detail .images-detail .imgs-sub{
  
}
.product-detail .images-detail .img-sub{
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ba933e00;
}
.product-detail .images-detail .img-sub:hover{
   border: 1px solid #ba933e;
}
.product-detail .img-main{
    flex: 1;
    overflow: hidden;
    background-color: #F5F5F5;
    position: relative;
}

.product-detail img{
    width: 100%;
}

.icon-search{
    text-align: center;
    border-radius: 100%;
    position: absolute;
    background-color: #F5F5F5;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #636363;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image product*/
/* Info detail */
.text-gray{
    color: #444444;
}
.ratings i {
    color:#ba933e ;
}

.product-detail .price-line{
    color:#ba933e ;
    font-weight: 600;
    font-size: 20px;
    
}
.product-detail .price-old{
    color:#CCCCCC;
    font-weight: 400;
    text-decoration: line-through;
}
.product-detail .description-line {
    display: flex;
    flex-direction: column;
    
}
.product-detail .description-line  span{
  margin-bottom: 5px;
}
.product-detail .option {
    display: flex;
}
.product-detail .option .quantity{
    height: 50px;
    padding: 7px ;
    width: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.897);
    border-radius: 5px;
    margin-right:  10px;
  }
  .product-detail .option .quantity span{
    font-size: 18px;
  }
  .product-detail .btn-option button{
    background-color: #1a1a1a;
    height: 50px;
    padding: 0 15px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    border-radius: 5px;
  }
  .product-detail .info-order{
    display: flex;
    flex-direction: column;
  }
  .product-detail .info-order span{
    margin-bottom: 10px;
  }
  
  
/* Info detail */

/* Tab */

.container-tab  {
  position: relative;
}
.container-tab nav {
    display: flex;
    justify-content: center;
    border: none;
    z-index: 2;
}

.container-tab::before {
    content: "";
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    width: 100%;
    position: absolute;
    z-index: 1;
    top:50%
}

.container-tab nav a {
    text-align: center;
    max-width: 150px;
    color: #515151;
    font-weight: 700;
    font-size: 18px;
    border: none;
    z-index: 3;
    background-color: white;


}

 .container-tab  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
      
    color: #1a1a1a !important;
    background-color: transparent;
    border-bottom: 4px solid #ba933e !important;
    font-weight: bold;
    border: none;
    z-index: 3;

  }
  
  #tabs .nav-tabs .nav-link {
   font-size: 16px;
    color: rgba(128, 128, 128, 0.74);
    border: none;
    z-index: 3;

  }
  
.comments .title h4{
    font-weight: 700;
    font-size: 24px;
}
.comments .avatar{

    width: 70px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
}
.comments .avatar img{
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.comments .comment {
    margin-top: 15px;
    padding-bottom: 20px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    display: flex;
    font-size: 15px;
}

.comments .comment .name {
    color: #767676;

    font-weight: 500;
 }
.comments .comment .date {
   color: #767676;
}
.create-comment .title h5{
    font-weight: 700;
}
.create-comment .your-rating{
    display: flex;
    justify-content: center;
}
.create-comment .your-rating .ratings{
    font-size: 30px;
}
.create-comment .your-rating .ratings i{
    padding: 5px;
}
.create-comment .reivew textarea,.create-comment .reivew input{
  border: 1px solid #e5e5e5;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
}
.create-comment .reivew textarea:focus,.create-comment .reivew input:focus{
 box-shadow: #ba933e07 0px 1px 2px 0px, #ba933e2d 0px 2px 6px 2px;

  }
/* /Tab */

